<div ng-controller="HomeCtrl">

    <div class="row">
        <div class="col-md-2 tree-browser">
            <js-tree tree-events="select_node:nodeSelected" tree-ajax="/api/tree"></js-tree>
        </div>

        <div class="config-viewer col-md-10" ng-if="configViewer != null">
            <h2>
                {{configViewer.title}}
                <div class="pull-right">
                    <span class="col-xs-6">
                        <select class="form-control">
                            <option>기본모델</option>
                            <option>렌탈상품</option>
                        </select>
                    </span>
                    <span class="col-xs-6 input-group-btn">
                        <a href="#" target="_blank" class="btn btn-info">렌더링 결과 보기</a>
                    </span>
                </div>

            </h2>
            <hr/>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="configInputTitle" class="col-md-2 control-label">
                        제목
                    </label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="configInputTitle" placeholder="제목을 입력하세요."
                               ng-model="configViewer.title" value="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="configInputDescription" class="col-md-2 control-label">
                        설명
                    </label>

                    <div class="col-md-10">
                        <textarea class="form-control" id="configInputDescription"
                                  rows="3">{{configViewer.description}}</textarea>
                    </div>
                </div>


                <div class="form-group">
                    <label for="configInputConnectPath" class="col-md-2 control-label">
                        템플릿 경로
                    </label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="configInputConnectPath"
                               placeholder="연결경로를 입력해 주세요." ng-model="configViewer.templatePath">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        모델 설정
                    </label>

                    <div class="col-md-10">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" ng-repeat="model in configViewer.models"
                                ng-class="{active: $first}">
                                <a href="#{{model.key}}" role="tab" data-toggle="tab" aria-controls="_{{model.key}}">{{model.key}}</a>
                            </li>
                            <li>
                                <a class="model-tab-add" href="#add" role="tab">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div ng-repeat="model in configViewer.models" ng-class="{active: $first}" class="tab-pane"
                                 id="_{{model.key}}">
                                <pre><code>{{model.value}}</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- .form-horizontal-->

        </div>
        <!-- .config-viewer-->

        <div class="config-viewer col-md-10" ng-if="configViewer == null">
            <div class="well well-lg">
                설정 파일을 선택해주세요.<br/>
                또는 옳바른 설정 파일이 아닙니다.
            </div>
        </div>

    </div>
    <!-- .row-->


</div><!-- [ng-controller="HomeCtrl"]-->
